.teamview {
    display: flex;
    padding: 50px;
    color: #3F3468;
}
.card-container > * {
    border: 1px solid red;
    padding: 50px;
}
.card-container {
    background: white;
}
.view-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #BAC8B3;
    margin: 10px;
    border-radius: 10px; 
    color: #3F3468;
}
.header-top {
    display: flex;
    gap: 200px;
    border: 1px solid white;
}
.spec-wrapper {
    font-size: 20px;
    letter-spacing: 1px;
}
.activity-wrapper {

}
.header-title {
    font-size: 40px;
    letter-spacing: 2px;
}

.view-body {
    background: #BAC8B3;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.view-body > * {
    border: 1px solid white;
}
.team-description {
    font-weight: bold;
}

.team-static {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.team-static > * {
    background: red;
    padding: 60px;
    background: #BAC8B3;
    border-radius: 10px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
}
.card-container button {
    background: #DDB298;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    color: #3F3468;
    font-size: 17px;
}