{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">

{% block content %}
{% include 'include/navbar.html' %}

<main>
    <!-- Display form-wide errors if there are any -->
    

    <form method="POST" action='/user/login/'>
    {% csrf_token %}
        <div class="form-grid">
            <span>Sign in</span>
            {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Username Field -->
            <div class="form-item">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="field-errors">
                        {% for error in form.username.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Password Field -->
            <div class="form-item">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="field-errors">
                        {% for error in form.password.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit">Log in</button>
        </div>
    </form>
</main>
{% endblock %}
