{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakePro</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/teams.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include 'include/navbar.html' %}

    <main>
        <div class="search-container">
            <form method="get" autocomplete="off">
                <!-- The value for the input field should be the current search query -->
                <input type="text" placeholder="Search.." name="search" value="{{ search_query }}">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="checkbox" name="filter" id="filter">
                <label for="filter" class="filter">Filter by team activity</label>
            </form>
        </div>

        <section class="presearch">
            <div class="teams-container">
                <div class="head">
                    <p>Recommended Teams:</p>
                </div>
                <div class="carousel">
                    {% for team in teams %}
                    <div class="card">
                        <div class="card-header">
                            <p>Looking for: {{ team.looking_for|default:"Not specified" }}</p>
                            <p class="title"><span>{{ team.name }}</span></p>
                        </div>
                        <div class="card-content">
                            <div class="activity-dots">
                                {% for _ in team.members.all %}
                                    <span></span>
                                {% endfor %}
                            </div>
                            <div class="arrow">&gt;</div>
                        </div>
                        <div class="card-footer">
                            <div class="description">
                                <p>Description:</p>
                                <p>{{ team.description }}</p>
                            </div>
                            <div class="requirements">
                                <p>Requirements to join:</p>
                                <p>{{ team.requirements|default:"None Listed" }}</p>
                            </div>
                            <div class="tags">
                                <p>Keyword:</p>
                                <p>{{ team.keyword }}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <p>No teams found for "{{ search_query }}"</p>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="postsearch hidden">
            <div class="results-container">
                <!-- Additional search results will be displayed here -->
            </div>
        </section>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
